@import 'colors';
@import 'media-queries';

%align-center {
    display:flex;
    align-items: center;
}

%justify-content {
    display:flex;
    justify-content: center;
}

.navbar {
background: $dark-orange;
height:80px;
display:flex;
justify-content: space-between;
padding: 0.5rem calc((100vw - 1200px) / 2);
z-index:10;
position: relative;


&_logo{
    color:$dark-color;
    cursor:pointer;
    text-decoration: none;
    font-size:2rem;
    margin-left:24px;
    @extend %align-center;
}

&_burgermenu {
    opacity:0;
    @include tablet{
        color:$dark-color;
        opacity:1;
        position:absolute;
        top:22px;
        right:20px;
        font-size:2rem;
      }
    }

    &_menu {
        @extend %align-center;
        list-style:none;
        text-align:center;
        margin-right: 24px;

        @include tablet{
            display:none;
        }
    

        &_links {
            color:$dark-color;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding:0 1rem;
            background: $dark-orange;
            padding:12px 24px;
            border:none;
            outline:none;
            margin-left:16px;
            border-radius:4px;

            &:hover {
                color:$dark-color;
                background: $light-orange;
                transition: all 0.5s ease;
                  }
             }
         }
    }
