@import 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Red Hat Text', sans-serif;
}

body{
    background-color: $dark-color;
    height:100%;
}

.hero {
    background:linear-gradient($dark-orange, $dark-color);
    &_container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
       margin:0 auto;
       height:100vh;
       z-index:1;
       width:100%;
       max-width:1200px;
       padding-right: 24px;
       padding-left:24px; 

       @include tablet{
        grid-template-columns: 1fr;
        height:100%;
       }

       &_left{
           width:100%;
           line-height: 1.2;

           @include tablet{
               padding:5rem 0;
           }

           @include mobile{
            line-height: 1.5;
            
           }
       }

       &_left h1 {
           font-size:4rem;
           color:$gunmetal;

           @include mobile{
               font-size:3.2rem;
               text-align: center;
           }
       }

        &_left p {
                 font-size:2rem;
                 color:$gunmetal;
                margin-top:1rem;
                 font-weight:700;
                 
                @include mobile{
                 font-size:2rem;
                 display: block;
                 text-align: center;
                
             }
        }

            &_right {
            
                &_inner1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:$orange;
                    height: 250px;
                    width: 500px;
                    position: relative;
                    border: 2px solid $light-orange;
                    border-radius: 15px;
                    box-shadow: 0 0 20px 10px $orange;
                    @include mobile{
                        height: 150px;
                        width:300px;
                    }
                }
                
                &_inner2 {
                    height: 200px;
                    width: 450px;
                    background-color:$dark-color;
                    position: absolute;
                    justify-content: center;
                    border: 2px solid $light-orange;
                    border-radius: 15px;
                    @include mobile{
                        height:105px;
                        width:255px;
                    }
                }
                
                &_inner3 {
                    background-color: $dark-color;
                    height: 175px;
                    width: 425px;
                    position:absolute;
                    flex-direction: column;
                    @extend %justify-content;
                    @extend %align-center;
                    margin: 10px;
                    @include mobile{
                       height:80px;
                       width:230px;
                   
                    }
                    
                }
                
                h1{
                    @extend %justify-content;
                    @extend %align-center;
                   margin: 25px;
                   font-size: 5rem;
                   letter-spacing: 1px;
                   color:$light-orange;
                   font-weight: bold;
                   @include mobile{
                    font-size: 3rem;
                 }
                }
                
        }
    }

    
}




